#set($layout = '/layout/common.vm')

#define($title)
<title>查看任务--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/assignment.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="/admin/assignment.html" class="button-link">任务</a>
        <span class="separate">|</span>
        <a href="/admin/assignment/warning.html" class="button-link">记录</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">查看任务</a>
    </article>

    <form action="" method="get" class="form-main">
        <div class="form-part">
            <div class="form-group clearfix">
                <div class="group-title">名称</div>
                <div class="group-item">
                    <div class="input-item-text" style="margin-left: 0;">$!taskRecord.taskName</div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">种类</div>
                <div class="group-item">
                    <div class="input-item-text" style="margin-left: 0;">$!taskRecord.kindFormat</div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">责任人</div>
                <div class="group-item">
                    <div class="input-item-text" style="margin-left: 0;">$!taskRecord.departmentName
                        /$!taskRecord.employeeName</div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">是否公开</div>
                <div class="group-item">
                    <div class="input-item-text" style="margin-left: 0;"> #if($!taskRecord.publicity gt 0)
                        否
                    #else
                        是
                    #end</div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">执行日期</div>
                <div class="group-item">
                    <div class="input-item-text"
                         style="margin-left: 0;">#if($taskRecord.executeTime) $!DateUtils.formatTimeYMDHM($!taskRecord.executeTime) #end</div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">任务说明</div>
                <div class="group-item">
                    <div class="input-item-text" style="margin-left: 0;">$!taskRecord.taskExplains</div>
                </div>
            </div>

        ## 任务
            #if($!taskRecord.taskKind!=13)
                <div class="form-group clearfix">
                    <div class="group-title">控制/设备点</div>
                    <div class="group-item">
                        <div class="table-wrapper table-wrapper-nobg">
                            <table cellpadding="0" cellspacing="0" width="100%"
                                   class="table-primary table-primary-small table-noborder" id="table-temporary">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>名称</th>
                                    <th>地点</th>
                                    <th>最晚完成时间</th>
                                    <th>执行时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #if($taskRecord.equipmentControlVoList && $taskRecord.equipmentControlVoList.size()>0)
                                        #foreach($vo in $taskRecord.equipmentControlVoList)
                                        <tr>
                                            <td>$!{velocityCount}</td>
                                            <td>$!vo.name</td>
                                            <td>$!vo.place</td>
                                            #if($vo.executeTime && $!vo.executeTime gt 0 )
                                                <td class="state state-already">已完成</td>
                                            #else
                                                <td>#if($vo.finishTime && $!vo.finishTime gt 0 )$!DateUtils.formatTimeYMDHM($!vo.finishTime)#end</td>
                                            #end
                                            #if($vo.executeTime && $!vo.executeTime gt 0 )
                                                <td>$!DateUtils.formatTimeYMDHM($!vo.executeTime)</td>
                                            #else
                                                <td></td>
                                            #end
                                        </tr>
                                        #end
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="group-title">表单</div>
                    <div class="group-item">
                        <div class="table-wrapper table-wrapper-nobg">
                            <table cellpadding="0" cellspacing="0" width="100%"
                                   class="table-primary table-primary-small table-noborder" id="table-formtype">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>名称</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #if($taskRecord.formTypeVoList && $taskRecord.formTypeVoList.size() gt 0)
                                        #foreach($vo in $taskRecord.formTypeVoList)
                                        <tr>
                                            <td>$!{velocityCount}</td>
                                            <td>$!vo.formTypeName</td>
                                            #if($!vo.done)
                                                <td class="state state-already">已完成</td>
                                                <td>
                                                    <a href="javascript:void(0);"
                                                       class="button-link button-link-small btn-show-hide">展开</a>
                                                </td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td></td>
                                                <td colspan="4">
                                                    <p style="color: #999; padding: 5px 0;">
                                                        提交人：$!taskRecord.employeeName
                                                        &nbsp;&nbsp;&nbsp;&nbsp;$!DateUtils.formatTimeYMDHM($!vo.formDetailVo.createdDate)</p>
                                                    #foreach($formData in $vo.formDetailVo.formDataVos)
                                                        #if($!formData.fieldType eq 1 || $!formData.fieldType eq 2)
                                                            <p style="color: #666; padding: 5px 0;">$!formData.fieldName
                                                                : $!formData.fieldValue</p>
                                                        #elseif($!formData.fieldType eq 3)
                                                            <div class="form-group clearfix">
                                                                <div class="group-title">$!formData.fieldName</div>
                                                                <div class="group-item clearfix">
                                                                    #foreach($fieldValue in $!formData.fieldValues)
                                                                        <div class="upload-box" style="float: left;">
                                                                            <div class="upload-image">
                                                                                <img src="$!fieldValue"
                                                                                     class="file-img">
                                                                                <div class="img-mask"></div>
                                                                            </div>
                                                                        </div>
                                                                    #end
                                                                </div>
                                                            </div>
                                                        #end
                                                    #end
                                                </td>
                                            </tr>
                                            #else
                                            <td>未提交</td>
                                            <td>
                                                <a href="javascript:void(0);"
                                                   class="button-link button-link-small button-link-disable btn-show-hide">展开</a>
                                            </td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td></td>
                                                <td colspan="4">
                                                    <p style="color: #666; padding: 5px 0;"></p>
                                                </td>
                                            </tr>
                                            #end
                                        </tr>
                                        #end
                                    #end
                                #* <tr>
                                     <td>1</td>
                                     <td>AAAA表单</td>
                                     <td class="state state-already">已完成</td>
                                     <td>
                                         <a href="javascript:void(0);" class="button-link button-link-small btn-show-hide">展开</a>
                                     </td>
                                 </tr>
                                 <tr style="display: none;">
                                     <td></td>
                                     <td colspan="4">
                                         <p style="color: #999; padding: 5px 0;">报修字段A：字段A内容</p>
                                         <p style="color: #666; padding: 5px 0;">报修字段B：字段B内容</p>
                                         <p style="color: #666; padding: 5px 0;">报修字段C：
                                             <div class="upload-box" style="float: left;">
                                                 <div class="upload-image">
                                                     <img src="http://api-staff-test.hecaifu.com/filesupload/repairs/fc9c5afb-9f5d-4187-975a-041a2a1ffcf4.jpg" class="file-img">
                                                     <div class="img-mask"></div>
                                                 </div>
                                             </div>
                                             <div class="upload-box" style="float: left;">
                                                 <div class="upload-image">
                                                     <img src="http://api-staff-test.hecaifu.com/filesupload/repairs/fc9c5afb-9f5d-4187-975a-041a2a1ffcf4.jpg" class="file-img">
                                                     <div class="img-mask"></div>
                                                 </div>
                                             </div>
                                         </p>
                                     </td>
                                 </tr>
                                 <tr>
                                     <td>2</td>
                                     <td>AAAA表单</td>
                                     <td>未提交</td>
                                     <td>
                                         <a href="javascript:void(0);" class="button-link button-link-small button-link-disable btn-show-hide">展开</a>
                                     </td>
                                 </tr>
                                 <tr style="display: none;">
                                     <td></td>
                                     <td colspan="4">
                                         <p style="color: #666; padding: 5px 0;"></p>
                                     </td>
                                 </tr>*#
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            #end
        ## 任务 end
            #if($!taskRecord.taskKind eq 13)
            ## 录入任务
                <div class="form-group clearfix">
                    <div class="group-title">录入类型</div>
                    <div class="group-item">
                        <div class="input-item-text" style="margin-left: 0;">$!taskRecord.enterTypeMsg</div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="group-title">分区/楼宇</div>
                    <div class="group-item">
                        <div class="input-item-text" style="margin-left: 0;">$!taskRecord.buildingDetail</div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="group-title">完成时间</div>
                    <div class="group-item">
                        <div class="input-item-text state state-warning"
                             style="margin-left: 0;">#if($taskRecord.finishTime) $!DateUtils.formatTimeYMDHM($!taskRecord.finishTime) #end</div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="group-title">状态</div>
                    <div class="group-item">
                        <div class="input-item-text state state-warning"
                             style="margin-left: 0;">#if($taskRecord.alreadyEnterCount lt $taskRecord.EnterCount)
                            进行中 #elseif($taskRecord.alreadyEnterCount eq 0) 未开始 #else 已完成 #end
                            （已录 $taskRecord.alreadyEnterCount
                            户/应录 $taskRecord.EnterCount 户）
                        </div>
                    </div>
                </div>
            ## 录入任务 end
            #end

        </div>
    </form>
</section>


#define($script)
<script src="/assets/script/common.js"></script>
<script>
    $(function () {
        var ASSIGNMENT = {
            init: function () {
                ASSIGNMENT.btnShowHideBind();
                ASSIGNMENT.btnShowHideFormtypeBind();
            },
            btnShowHideBind: function () {
                var tableTemporary = $('#table-temporary'),
                        _tr = tableTemporary.find('tbody tr'),
                        btnShowHide = tableTemporary.find('.btn-show-hide');

                btnShowHide.on('click', function () {
                    var _this = $(this),
                            index = _this.parent().parent().index() + 1;

                    if (_this.hasClass('.button-link-disable')) {
                        return false;
                    }

                    if (_this.html() == '展开') {
                        _this.html('收起');
                        _tr.eq(index).show();
                    } else if (_this.html() == '收起') {
                        _this.html('展开');
                        _tr.eq(index).hide();
                    }
                });
            },
            btnShowHideFormtypeBind: function () {
                var tableFormtype = $('#table-formtype'),
                        _tr = tableFormtype.find('tbody tr'),
                        btnShowHide = tableFormtype.find('.btn-show-hide');

                btnShowHide.on('click', function () {
                    var _this = $(this),
                            index = _this.parent().parent().index() + 1;

                    if (_this.hasClass('.button-link-disable')) {
                        return false;
                    }

                    if (_this.html() == '展开') {
                        _this.html('收起');
                        _tr.eq(index).show();
                    } else if (_this.html() == '收起') {
                        _this.html('展开');
                        _tr.eq(index).hide();
                    }
                });
            }
        };

        ASSIGNMENT.init();
    });
</script>
#end