#set($layout = '/layout/common.vm')

#define($title)
<title>今日任务--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/assignment.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="javascript:void(0);" class="button-link button-link-disable">今日任务</a>
    </article>

    <form action="/admin/assignment.html" method="post">
        <article class="form-condition">
            <div class="operate-group">
                <a href="/admin/assignment/history.html" class="button-link button-history">任务记录</a>
            </div>

            <div class="condition-group clearfix">
                <div class="title">责任人</div>
                <div class="select-box clearfix">
                    <div class="select-primary select-small" id="select-liable-0">
                        <input type="hidden" name="departmentId" class="input-hidden" value="$!paramDepartmentId">
                        <span class="select-placeholder">#if($paramDepartmentName) $paramDepartmentName #else
                            全部 #end</span>
                        <div class="select-options light-overscroll">
                            <ul>
								#if($departmentList && $departmentList.size()>0)
                                    <li data-value="">全部</li>
									#foreach($department in $departmentList)
                                        <li data-value="$!department.id" #if($!paramDepartmentId==$!department.id)
                                            class="selected" #end>$!department.name</li>
									#end
								#else
                                    <li data-value="" class="selected">暂无</li>
								#end
                            </ul>
                        </div>
                        <select class="select-select">
							#if($departmentList && $departmentList.size()>0)
                                <option value="">全部</option>
								#foreach($department in $departmentList)
                                    <option value="$!department.id" #if($!paramDepartmentId==$!department.id)
                                            selected #end>$!department.name</option>
								#end
							#else
                                <li data-value="" class="selected">暂无</li>
							#end
                        </select>
                    </div>

                    <div class="select-primary select-small" id="select-liable-1">
                        <input type="hidden" name="employeeId" class="input-hidden" value="$!paramEmployeeName">
                        <span class="select-placeholder">#if($paramEmployeetName) $paramEmployeetName #else
                            全部 #end</span>
                        <div class="select-options light-overscroll">
                            <ul>
								#if($employeeList && $employeeList.size()>0)
                                    <li data-value="">全部</li>
									#foreach($employee in $employeeList)
                                        <li data-value="$!employee.employeeId" #if($!paramEmployeeId==$!employee.employeeId)
                                            class="selected" #end>$!employee.employeeName</li>
									#end
								#else
                                    <li data-value="" class="selected">暂无</li>
								#end
                            </ul>
                        </div>
                        <select class="select-select">
							#if($employeeList && $employeeList.size()>0)
                                <option value="">全部</option>
								#foreach($employee in $employeeList)
                                    <option value="$!employee.id" #if($!paramEmployeeId==$!employee.employeeId)
                                            selected #end>$!employee.employeeName</option>
								#end
							#else
                                <li data-value="" class="selected">暂无</li>
							#end
                        </select>
                    </div>
                </div>
            </div>
            <div class="condition-group clearfix">
                <div class="title">种类</div>
                <div class="select-box clearfix">
                    <div class="select-primary select-small" id="select-liable-2">
                        <input type="hidden" name="kind" class="input-hidden" value="$!paramKind">
                        #if($paramKind && $!paramKind gt 0 )
                            #foreach($!kindItem in $!kindList)
                                #if($!paramKind eq $!kindItem.code)
                                    <span class="select-placeholder">$!kindItem.desc</span>
                                #end
                            #end
                        #else
                            <span class="select-placeholder">全部</span>
                        #end
                        <div class="select-options light-overscroll">
                            <ul>
                                <li data-value="0" #if($!paramKind eq 0) class="selected" #end>全部</li>
                                #foreach($!kindItem in $!kindList)
                                    #if($velocityCount gt 1)
                                        <li data-value="$!kindItem.code" #if($!paramKind eq $!kindItem.code)
                                            class="selected"#end>$!kindItem.desc</li>
                                    #end
                                #end
                            </ul>
                        </div>
                        <select class="select-select">
                            <option value="0" #if($!paramKind eq 0) selected #end>全部</option>
                            #foreach($!kindItem in $!kindList)
                                #if($velocityCount gt 1)
                                    <option value="$!kindItem.code" #if($!paramKind eq $!kindItem.code)
                                            selected #end>$!kindItem.desc</option>
                                #end
                            #end
                        </select>
                    </div>
                </div>
            </div>
            <div class="condition-group clearfix">
                <div class="title">状态</div>
                <div class="select-box clearfix">
                    <div class="select-primary select-small" id="select-liable-3">
                        <input type="hidden" name="status" class="input-hidden" value="$!paramStatus">
                        #if($paramStatus)
                            #foreach($!statusItem in $!statusList)
                                #if($!paramStatus eq $!statusItem.code)
                                    <span class="select-placeholder">$!statusItem.desc</span>
                                #end
                            #end
                        #else
                            <span class="select-placeholder">全部</span>
                        #end
                        <div class="select-options light-overscroll">
                            <ul>
                                <li data-value="" #if(!$!paramStatus) class="selected" #end>全部</li>
                                #foreach($!statusItem in $!statusList)
                                        <li data-value="$!statusItem.code" #if($!paramStatus eq $!statusItem.code)
                                            class="selected"#end>$!statusItem.desc</li>
                                #end
                            </ul>
                        </div>
                        <select class="select-select">
                            <option value="" #if(!$!paramStatus) selected #end>全部</option>
                            #foreach($!statusItem in $!statusList)
                                    <option value="$!statusItem.code" #if($!paramStatus eq $!statusItem.code)
                                            selected #end>$!statusItem.desc</option>
                            #end
                        </select>
                    </div>
                </div>
            </div>
            <div class="condition-group clearfix">
                <div class="title">名称</div>
                <div class="search-box clearfix">
                    <div class="input-item">
                        <input type="search" placeholder="请输入任务名称" class="input-primary input-x-small input-search"
                               value="$!paramName">
                        <i class="icon-delete"></i>
                    </div>
                    <input type="submit" value="搜索" class="button-search btn-search"/>
                </div>
            </div>
        </article>
    </form>

    <article class="">
        <div class="table-wrapper">
			#if($list && $list.size() gt 0)
                <table cellpadding="0" cellspacing="0" width="100%" class="table-primary">
                    <thead>
                    <tr>
                        <th>任务名称</th>
                        <th>种类</th>
                        <th>控制点数</th>
                        <th>部门</th>
                        <th>责任人</th>
                        <th>公开</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
						#foreach($task in $list)
                        <tr>
                            <td>$!task.taskName</td>
                            <td>$!task.kindFormat</td>
                            <td>$!task.controlPointCount</td>
                            <td>$!task.departmentName</td>
                            <td>$!task.employeeName</td>
							#if($!task.publicity eq 1)
                                <td class="state state-already">是</td>
							#else
                                <td>否</td>
							#end
							#if($!task.status eq 0)
                                <td>待执行</td>
							#elseif($!task.status eq 1)
                                <td class="state state-ING">执行中</td>
							#else
                                <td class="state state-already">完成</td>
							#end
                            <td>#if($!task.type eq 1)
                                <a href="/admin/assignment/generally/detail.html?id=$!task.taskId"
                                   class="button-link button-link-small">查看</a>
							#else
                                <a href="/admin/assignment/temporary/detail.html?id=$!task.taskId"
                                   class="button-link button-link-small">查看</a>
							#end
                            </td>
                        </tr>
						#end
                    </tbody>
                </table>
			#else
                <div class="table-wrapper" style="float: left;  width: 100%; min-height: 400px;">
                    <div class="table-nodata"><p>暂无任务</p></div>
                </div>
			#end
        </div>
		#parse("/layout/pagination.vm")
    </article>
</section>

#define($script)
<script src="/assets/script/common.js"></script>
<script>
    $(function () {
        var ASSIGNMENT = {
            init: function () {
                COMMON.selectBind($('#select-liable-0'), undefined);
                COMMON.selectBind($('#select-liable-1'), undefined);
                COMMON.selectBind($('#select-liable-2'), undefined);
                COMMON.selectBind($('#select-liable-3'), undefined);
                COMMON.selectBind($('#select-liable-0'), ASSIGNMENT.getEmployeeName);
            },
            getEmployeeName: function (PID) {
                $.ajax({
                    url: "/department/propertyEmployeeList.html",
                    dataType: "json",
                    type: "post",
                    data: {
                        departmentId: PID
                    },
                    success: function (data) {
                        if (data.code != 200) {

                        } else {
                            var str = '';
                            str += '<input type="hidden" name="employeeId" class="input-hidden">';
                            str += '<span class="select-placeholder">全部</span>';
                            str += '<div class="select-options light-overscroll">';
                            str += '<ul>';
                            str += '<li data-value="" class="selected">全部</li>';
                            for (var i = 0; i < data.list.length; i++) {
                                str += '<li data-value="' + data.list[i].id + '">' + data.list[i].name + '</li>';
                            }
                            str += '</ul>';
                            str += '</div>';
                            str += '<select class="select-select">';
                            str += '<option value="" selected>全部</option>';
                            for (var j = 0; j < data.list.length; j++) {
                                str += '<option value="' + data.list[j].id + '">' + data.list[j].name + '</option>';
                            }
                            str += '</select>';

                            $('#select-liable-1').html(str).show();
                            COMMON.selectBind($('#select-liable-1'), undefined);
                        }
                    },
                    error: function () {

                    }
                });
            }
        };

        ASSIGNMENT.init();
    });
    //跳转
    function goPage(pageNo) {
        COMMON.post('/admin/assignment.html',
                {
                    name: '$!paramName',
                    kind: '$!paramKind',
                    status: '$!paramStatus',
                    employeeId: '$!paramEmployeeId',
                    departmentId: '$!paramDepartmentId',
                    pageNo: pageNo
                });
    }

</script>
#end