<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./static/image/favicon.ico" type="image/x-icon">
        <meta name="description" content="">
        <meta name="keywords" content="">
        $!title
        $!style
        <script src="/assets/script/lib/jquery.2.0.0.min.js" ></script>
        ## #parse("/share/statistics-mb.vm")
    </head>

    <body>
        $!header

        $screen_content

        $!footer

        $!script
    </body>
</html>