#set($layout = '/layout/common.vm')

#define($title)
<title>投诉类型--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/form.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb clearfix">
        <a href="/admin/complaints/type/create.html" class="button-link button-add"
           style="float: right; margin: 0 16px 0 0; color: #218adb;">新建投诉类型</a>
        <a href="/admin/complaints.html" class="button-link">投诉报事</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">投诉类型</a>
    </article>

    <article class="" style="margin-top: 20px;">
        <div class="table-wrapper">
			#if($list && $list.size()>0)
                <table cellpadding="0" cellspacing="0" width="100%" class="table-primary">
                    <thead>
                    <tr>
                        <th>类型名称</th>
                        <th>说明</th>
                        <th>字段数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
						#foreach($complaintsType in $list)
                        <tr>
                            <td>$!complaintsType.name</td>
                            <td>$!complaintsType.description</td>
                            <td>$!complaintsType.fields.size()</td>
                            <td>
                                <a href="/admin/complaints/type/create.html?id=$!complaintsType.id"
                                   class="button-link button-link-small">编辑</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="javascript:void(0);"
                                   class="button-link button-link-small" onclick="javascript: COMMON.createConfirmation('/complaints/type/delete.html?id=$!complaintsType.id', '是否确认删除？', '确认删除', '取消', COMMON.confirmationEnsure, COMMON.confirmationCancle)">删除</a>
                            </td>
                        </tr>
						#end
                    </tbody>
                </table>
			#else
                <div class="table-wrapper" style="float: left;  width: 100%; min-height: 400px;">
                    <div class="table-nodata"><p>暂无投诉类型</p></div>
                </div>
			#end
        </div>
        #parse("/layout/pagination.vm")
    </article>
</section>

#define($script)
<script src="/assets/script/common.js"></script>
<script>
    $(function () {
        var FORM = {
            init: function () {

            }
        };

        FORM.init();
    });
    //跳转
    function goPage(pageNo) {
        COMMON.post('/admin/complaints/type.html',
                {
                    pageNo: pageNo
                });
    }
</script>
#end