@import "base/common";
@import "base/flex";

// ==============================================
// statistics
// ==============================================
.dataStatistics-container{
  .common-title{
    color: #333;
    margin-bottom: 20px;
  }
  .top-content{
    position: relative;
    .left-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 320px;
      padding: 20px 26px;
    }
    .common-text{
      color: #666;
      margin-bottom: 20px;
    }
    .clearfix{
      .fs36{
        color: #333;
        font-size: 36px;
      }
      a.pull-right{
        font-size: 12px;
        color: #218ADB;
        margin-top: 30px;
      }
    }
    .right-content{
      position: absolute;
      left: 340px;
      top:0px;
      right: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      .common-text.pull-left{
        display: inline-block;
        float: left;
      }
      .flex-a{
        width: 70%;
        position: absolute;
        left:20%;

        .col-333{
          color: #333;
        }
        .col-green{
          color: #3DCD8A;
        }
        .col-orange{
          color: #FFA944;
        }
        .col-red{
          color: #D34842;
        }
        .text-center{
          text-align: center;
          .ft14{
            margin-bottom: 0;
          }
          .fs36{
            font-size: 36px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    height: 497px;
    margin-top: 20px;
    padding: 20px 26px;
  }
}


// ==============================================
// income
// ==============================================
.income-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 365px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 228px;
      padding: 20px 26px;
      height: 365px;
      position: absolute;
      right: 0;
      .fs36{
        color: #333;
        font-size: 36px;
        margin: 92px 0px 103px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .left-content{
      position: absolute;
      right: 248px;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      height: 365px;
      .clearfix{
        .left-container{
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
        #line{
          width: 100% !important;
          height: 270px !important;
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      font-size: 0;
      .pie{
        width: 30%;
        height: 300px;
        display: inline-block;
        vertical-align: top;
      }
      .table {
        width: 70%;
        background: #FFFFFF;
        display: inline-block;
      }
    }
  }
}


// ==============================================
// user
// ==============================================
.user-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 307px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 228px;
      padding: 20px 26px;
      position: absolute;
      right:0;
      .fs24{
        color: #333;
        font-size: 24px;
        margin: 65px 0px 130px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .col-999{
      color: #999;
    }
    .left-content{
      position: absolute;
      right: 248px;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      height: 307px;
      .clearfix{
        .left-container{
          display: inline-block;
          vertical-align: top;
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
        #line{
          width: 80% !important;
          height: 270px !important;
          display: inline-block;
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .lines{
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
      }
    }
  }
}



// ==============================================
// assignment
// ==============================================
.assignment-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 307px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 420px;
      padding: 20px 26px;
      position: absolute;
      right:0;
      .fs24{
        color: #333;
        font-size: 24px;
        margin: 65px 0px 130px 0;
      }
      #pie{
        width: 100%;
        height: 231px;
      }
    }
    .common-text{
      color: #666;
    }
    .col-999{
      color: #999;
    }
    .left-content{
      position: absolute;
      right: 440px;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      height: 307px;
      #bar{
        width: 100%;
        height: 250px;
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .lines{
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
      }
    }
  }
}

// ==============================================
// repair
// ==============================================
.checking-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .col-999{
    color: #999;
  }
  .top-content{
    position: relative;
    height: 307px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 420px;
      padding: 20px 26px;
      position: absolute;
      right:0;
      //height:385px;
      .fs36{
        color: #333;
        font-size: 36px;
        margin: 92px 0px 103px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .left-content{
      position: absolute;
      right: 440px;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 0 20px 26px;
      //height: 307px;
      .clearfix{
        .left-container{
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .pie{
        width: 30%;
        height: 300px;
      }
      .table {
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63, 84, 101, 0.13);
      }
      .table{
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
        table{
          width: 100%;
          border-collapse:collapse;
        }
        th{
          background: #F7F7F7;
          box-shadow: 0 1px 0 0 #dedede;
          margin: 0;
          height: 42px;
          color: #333;
          font-size: 12px;
          text-align: left;
          &:first-child{
            padding-left: 3%;
          }
        }
        td{
          padding: 25px 8px;
          color: #666;
          font-size: 12px;
          border-bottom:1px solid #DEDEDE;
          &:first-child{
            padding-left: 3%;
          }
        }
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// ==============================================
// complain
// ==============================================
.complaint-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 330px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 228px;
      padding: 20px 26px;
      .fs36{
        color: #333;
        font-size: 36px;
        margin: 92px 0px 103px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .left-content{
      position: absolute;
      right: 0;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      //height: 307px;
      .clearfix{
        .left-container{
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
        #line{
          width: 86% !important;
          height: 270px !important;
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .pie{
        width: 30%;
        height: 300px;
      }
      .table {
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63, 84, 101, 0.13);
      }
      .table{
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
        table{
          width: 100%;
          border-collapse:collapse;
        }
        th{
          background: #F7F7F7;
          box-shadow: 0 1px 0 0 #dedede;
          margin: 0;
          height: 42px;
          color: #333;
          font-size: 12px;
          text-align: left;
          &:first-child{
            padding-left: 3%;
          }
        }
        td{
          padding: 25px 8px;
          color: #666;
          font-size: 12px;
          border-bottom:1px solid #DEDEDE;
          &:first-child{
            padding-left: 3%;
          }
        }
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// ==============================================
// checking-container
// ==============================================
.checking-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 360px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 228px;
      padding: 20px 26px;
      .fs36{
        color: #333;
        font-size: 36px;
        margin: 92px 0px 103px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .left-content{
      position: absolute;
      right: 0;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      //height: 307px;
      .clearfix{
        .left-container{
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
        #line{
          width: 86% !important;
          height: 270px !important;
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .pie{
        width: 30%;
        height: 300px;
      }
      .table {
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63, 84, 101, 0.13);
      }
      .table{
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
        table{
          width: 100%;
          border-collapse:collapse;
        }
        th{
          background: #F7F7F7;
          box-shadow: 0 1px 0 0 #dedede;
          margin: 0;
          height: 42px;
          color: #333;
          font-size: 12px;
          text-align: left;
          &:first-child{
            padding-left: 3%;
          }
          &:first-child{
            width: 40%;
          }
        }
        td{
          padding: 25px 8px;
          color: #666;
          font-size: 12px;
          border-bottom:1px solid #DEDEDE;
          &:first-child{
            padding-left: 3%;
          }
        }
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

// ==============================================
// visitor
// ==============================================
.visitor-container{
  .common-title{
    color: #666;
    margin-bottom: 20px;
  }
  .col-333{
    color: #333;
  }
  .top-content{
    position: relative;
    height: 370px;
    .right-content{
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      width: 228px;
      padding: 20px 26px;
      .fs36{
        color: #333;
        font-size: 36px;
        margin: 92px 0px 103px 0;
      }
    }
    .common-text{
      color: #666;
    }
    .left-content{
      position: absolute;
      right: 0;
      top:0px;
      left: 0px;
      bottom: 0;
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
      padding: 20px 26px;
      //height: 307px;
      .clearfix{
        .left-container{
          .fs24{
            font-size: 24px;
            margin: 90px 0px 10px 0px;
          }
          .fs14{
            color: #999;
          }
        }
        #line{
          width: 86% !important;
          height: 270px !important;
        }
      }
    }
  }

  .bottom-content{
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
    margin-top: 20px;
    padding: 20px 26px;
    .mr0{
      margin-right: 0 !important;
    }
    .bottom-detail{
      position: relative;
      .pie{
        width: 30%;
        height: 300px;
      }
      .table {
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63, 84, 101, 0.13);
      }
      .table{
        width: 70%;
        background: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(63,84,101,0.13);
        table{
          width: 100%;
          border-collapse:collapse;
        }
        th{
          background: #F7F7F7;
          box-shadow: 0 1px 0 0 #dedede;
          margin: 0;
          height: 42px;
          color: #333;
          font-size: 12px;
          text-align: left;
          &:first-child{
            padding-left: 3%;
          }
        }
        td{
          padding: 25px 8px;
          color: #666;
          font-size: 12px;
          border-bottom:1px solid #DEDEDE;
          &:first-child{
            padding-left: 3%;
          }
        }
        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
