<!doctype html>
<html>
<head>
    #set($ex=$request.getAttribute("ex"))
    <title>ERROR</title>
</head>
<body style="margin:20px">
<H2>
    错误：500
</H2>
<hr/>
<P>
    <strong>错误描述：</strong>系统内部出错
</P>

<P>
    <strong>详细信息：</strong>
</P>
</body>
</html>