#set($layout = '/layout/common.vm')

#define($title)
<title>缴费记录--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/data.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="/admin/data.html" class="button-link">基础数据</a>
        <span class="separate">|</span>
        <a href="/admin/data/proprietor.html" class="button-link">业主管理</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">查看房间</a>
    </article>

    <div class="tabnav clearfix">
        <a href="/admin/data/proprietor/detail/baseinfo.html?id=$!roomId" class="tabnav-item">基本信息</a>
        <a href="/admin/data/proprietor/detail/repair.html?id=$!roomId" class="tabnav-item">报修记录</a>
        <a href="javascript:void(0);" class="tabnav-item link-disable current">缴费记录</a>
        <a href="/admin/data/proprietor/detail/dataentry.html?id=$!roomId" class="tabnav-item">数据录入记录</a>
        <a href="/admin/data/proprietor/detail/visitor.html?id=$!roomId" class="tabnav-item">访客记录</a>
    </div>

    <div style="padding: 0 50px;">
        <form action="/admin/data/proprietor/detail/payment.html" method="post">
            <article class="form-condition">
                <input type="hidden" name="id" value="$!roomId" class="input-hidden">
                <div class="condition-group clearfix">
                    <div class="title">类型</div>
                    <div class="select-box clearfix">
                        <div class="select-primary select-small" id="chargeTypeId" style="min-width: 120px;">
                            <input type="hidden" name="chargeTypeId" class="input-hidden" value="$!{chargeTypeId}">
							#if($chargeTypeId && $chargeTypeId ne 0 )
								#foreach($!chargeTypeItem in $!chargeTypeList)
									#if($!chargeTypeId eq $!chargeTypeItem.id)
                                        <span class="select-placeholder">$!chargeTypeItem.name</span>
									#end
								#end
							#else
                                <span class="select-placeholder">全部</span>
							#end
                            <div class="select-options light-overscroll">
                                <ul>
                                    <li data-value="0" #if($!chargeTypeId eq 0)class="selected" #end>全部</li>
									#foreach($chargeTypeItem in $!chargeTypeList)
                                        <li data-value="$!chargeTypeItem.id"
											#if($!chargeTypeId eq $!chargeTypeItem.id)class="selected" #end>$!chargeTypeItem.name</li>
									#end
                                </ul>
                            </div>
                            <select class="select-select">
                                <option value="0" #if($!chargeTypeId eq 0)selected#end>全部</option>
								#foreach($chargeTypeItem in $!chargeTypeList)
                                    <option data-value="$!chargeTypeItem.id"
											#if($!chargeTypeId eq $!chargeTypeItem.id)selected #end>$!chargeTypeItem.name</option>
								#end
                            </select>
                        </div>
                    </div>
                </div>
                <div class="condition-group clearfix">
                    <div class="title">状态</div>
                    <div class="select-box clearfix">
                        <div class="select-primary select-small" id="payStatus" style="min-width: 120px;">
                            <input type="hidden" name="payStatus" class="input-hidden" value="$!{payStatus}">
							#if($payStatus)
								#if($!payStatus eq 1)
                                    <span class="select-placeholder">已缴</span>
								#else
                                    <span class="select-placeholder">未缴</span>
								#end
							#else
                                <span class="select-placeholder">全部</span>
							#end
                            <div class="select-options light-overscroll">
                                <ul>
                                    <li data-value="" #if(!$payStatus)class="selected" #end>全部</li>
                                    <li data-value="0" #if($!payStatus eq 0)class="selected" #end>未缴</li>
                                    <li data-value="1" #if($!payStatus eq 1)class="selected" #end>已缴</li>
                                </ul>
                            </div>
                            <select class="select-select">
                                <option value="" #if(!$payStatus)selected#end>全部</option>
                                <option value="0" #if($!payStatus eq 0)selected#end>未缴</option>
                                <option value="1" #if($!payStatus eq 1)selected#end>已缴</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="condition-group clearfix">
                    <div class="title">提交日期&nbsp;&nbsp;</div>
                    <div class="input-item">
                        <input type="text" class="input-primary input-x-small input-datepicker"
                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="createdDateStar"
                               value="$!{paramCreatedDateStar}"
                               placeholder="xxxx年xx月xx日">
                    </div>
                    <span class="text"> - </span>
                    <div class="input-item">
                        <input type="text" class="input-primary input-x-small input-datepicker"
                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="createdDateEnd" value="$!{paramCreatedDateEnd}"
                               placeholder="xxxx年xx月xx日">
                    </div>
                </div>
                <div class="condition-group clearfix">
                    <div class="search-box clearfix">
                        <input type="submit" value="搜索" class="button-search btn-search"/>
                    </div>
                </div>
            </article>
        </form>

        <article class="" style="margin-top: 20px;">
            <div class="table-wrapper">
				#if($list && $list.size()>0)
                    <table cellpadding="0" cellspacing="0" width="100%" class="table-primary">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>生成日期</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
							#foreach($chargeBill in $!list)
                            <tr>
                                <td>$!chargeBill.name</td>
                                <td>$!chargeBill.chargeTypeName</td>
                                <td>$!DateUtils.formatTimeYMDHM($!chargeBill.createdDate)</td>
								#if($!chargeBill.payStatus gt 0)
                                    <td class="state state-already">已缴</td>
								#else
                                    <td>未缴</td>
								#end
                                <td><a href="/admin/charge/form/detail.html?id=$!{chargeBill.id}"
                                       class="button-link button-link-small">查看</a></td>
                            </tr>
							#end
                        </tbody>
                    </table>
				#else
                    <div class="table-wrapper" style="float: left;  width: 100%; min-height: 400px;">
                        <div class="table-nodata"><p>暂无缴费记录</p></div>
                    </div>
				#end
            </div>
			#parse("/layout/pagination.vm")
        </article>
    </div>
</section>


#define($script)
<script src="/assets/script/common.js"></script>
<script src="/assets/script/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        var DATA = {
            init: function () {
                COMMON.selectBind($('.select-primary'), undefined);
            }
        };

        DATA.init();
    });
    //跳转
    function goPage(pageNo) {
        COMMON.post('/admin/data/proprietor/detail/payment.html?id=$!roomId',
                {
                    chargeTypeId: '$!chargeTypeId',
                    payStatus: '$!payStatus',
                    createdDateStar: '$!paramCreatedDateStar',
                    createdDateEnd: '$!paramCreatedDateEnd',
                    pageNo: pageNo
                });
    }
</script>
#end