#set($layout = '/boss/layout/common.vm')

#define($title)
<title>编辑项目--i家帮系统后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/assignment.css"/>
#end

#parse("/boss/layout/header.vm")
#parse("/boss/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="/admin/assignment/generally.html" class="button-link">项目列表</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">编辑项目</a>
    </article>

        <input type="hidden" id="companyId" value="$!project.id"/>
        <div class="form-part">
            <div class="form-group clearfix">
                <div class="group-title">项目名称</div>
                <div class="group-item">
                    <div class="input-item" style="width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-project-name"
                               name="projectName" placeholder="请输入项目名称" value="$!project.projectName">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-project-name"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">项目地址</div>
                <div class="group-item">
                    <div class="select-box clearfix" style="width: 400px;">
                        <div class="select-primary" id="province">
                            <input type="hidden" class="input-hidden" value="$!project.regionsProv">
                            <span class="select-placeholder">$!project.regionsProvName</span>
                            <div class="select-options light-overscroll">
                                <ul>
                                    #if($provList && $provList.size()>0)
                                        #foreach($prov in $provList)
                                            <li data-value="$!prov.regionCode" #if($!project.regionsProv == $!prov.regionCode)
                                                class="selected" #end>$!prov.regionName</li>
                                        #end
                                    #end
                                </ul>
                            </div>
                            <select class="select-select">
                                #if($provList && $provList.size()>0)
                                    #foreach($prov in $provList)
                                        <option value="$!prov.regionCode" #if($!project.regionsProv == $!prov.regionCode)
                                                selected #end>$!prov.regionName</option>
                                    #end
                                #end
                            </select>
                        </div>
                    #*城市*#
                        <div class="select-primary" id="city">
                            <input type="hidden" class="input-hidden" value="$!project.regionsCity">
                            <span class="select-placeholder">$!project.regionsCityName</span>
                            <div class="select-options light-overscroll">
                                <ul>
                                    #if($project.cityList && $project.cityList.size()>0)
                                        #foreach($city in $project.cityList)
                                            <li data-value="$!city.regionCode" #if($!project.regionsCity == $!city.regionCode)
                                                class="selected" #end>$!city.regionName</li>
                                        #end
                                    #end
                                </ul>
                            </div>
                            <select class="select-select">
                                #if($project.cityList && $project.cityList.size()>0)
                                    #foreach($city in $project.cityList)
                                        <option value="$!city.regionCode" #if($!project.regionsCity == $!city.regionCode)
                                                selected #end>$!city.regionName</option>
                                    #end
                                #end
                            </select>
                        </div>
                    #*地区*#
                        <div class="select-primary" id="area">
                            <input type="hidden" class="input-hidden" value="$!project.regionsTown">
                            <span class="select-placeholder">$!project.regionsTownName</span>
                            <div class="select-options light-overscroll">
                                <ul>
                                    #if($project.townList && $project.townList.size()>0)
                                        #foreach($town in $project.townList)
                                            <li data-value="$!town.regionCode" #if($!project.regionsTown == $!town.regionCode)
                                                class="selected" #end>$!town.regionName</li>
                                        #end
                                    #end
                                </ul>
                            </div>
                            <select class="select-select">
                                #if($project.townList && $project.townList.size()>0)
                                    #foreach($town in $project.townList)
                                        <option value="$!town.regionCode" #if($!project.regionsTown == $!town.regionCode)
                                                selected #end>$!town.regionName</option>
                                    #end
                                #end
                            </select>
                        </div>
                    ##  <div class="select-primary" id="province">
                    ##      <span class="select-placeholder">请选择省</span>
                    ##      <div class="select-options light-overscroll">
                    ##          <ul>
                    ##              <li data-value="" class="selected">请选择省</li>
                    ##              <li data-value="1">浙江省</li>
                    ##              <li data-value="2">安徽省</li>
                    ##              <li data-value="3">江西省</li>
                    ##              <li data-value="4">福建省</li>
                    ##              <li data-value="5">新疆维吾尔自治区</li>
                    ##              <li data-value="6">西藏自治区</li>
                    ##              <li data-value="7">黑龙江省</li>
                    ##          </ul>
                    ##      </div>
                    ##      <select class="select-select">
                    ##          <option value="" selected>请选择省</option>
                    ##          <option value="1">浙江省</option>
                    ##          <option value="2">安徽省</option>
                    ##          <option value="3">江西省</option>
                    ##          <option value="4">福建省</option>
                    ##          <option value="5">新疆维吾尔自治区</option>
                    ##          <option value="6">西藏自治区</option>
                    ##          <option value="7">黑龙江省</option>
                    ##      </select>
                    ##  </div>
                    </div>
                    <div class="input-item" style="margin-top: 10px; width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-project-address"
                               name="projectAddress" placeholder="请输入项目地址" value="$!project.projectAddress">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-project-address"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">物业公司名称</div>
                <div class="group-item">
                    <div class="input-item" style="width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-company"
                               name="companyName" placeholder="请输入公司名称" value="$!project.companyName">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-company"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">营业执照</div>
                <div class="group-item">
                    <div class="upload-box file-yyzz input-null" data-imgid="$!project.businessLicense">
                    ##    <div class="btn-upload">
                    ##        +
                    ##        <input type="file" class="input-file file-image">
                    ##    </div>
                    ##  <div class="upload-text">正在加载...</div>
                        <div class="upload-image">
                            <img src="/attachment/viewImg.html?attachmentId=$!project.businessLicense" class="file-img">
                            <div class="img-mask"></div>
                        </div>
                        <a href="javascript:void(0);" class="button-link button-boss-link button-refresh button-refresh-boss">
                            重新上传
                            <input type="file" class="input-file file-image">
                        </a>
                    </div>
                    <div class="errMsg errMsg-yyzz"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">委托合同</div>
                <div class="group-item">
                    <form class="form-agreement">
                        <div class="upload-box file-agreement">

                                <a href="javascript:void(0);"
                                   class="button-link link-normal"
                                   onclick="downloadContract($!project.entrustContract);">$!project.entrustContractName</a>
                                <a href="javascript:void(0);" class="button-link button-add">
                                    重新上传<input type="file" class="input-file file-word" name="file">
                                </a>
                        </div>
                    </form>
                    <div class="tips tips-grey">业主自管除外</div>
                    <div class="errMsg errMsg-agreement"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">申请人</div>
                <div class="group-item">
                    <div class="input-item" style="width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-name" name="name"
                               placeholder="请输入申请人姓名" value="$!project.name">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-name"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">身份证号码</div>
                <div class="group-item">
                    <div class="input-item" style="width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-idCards"
                               name="idCardNo" placeholder="请输入身份证号码" value="$!project.idCardNo">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-idCards"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">身份证照片正面</div>
                <div class="group-item">
                    <div class="upload-box file-photo-a input-null" data-imgid="$!project.idCardPhotoA">
                    ##    <div class="btn-upload">
                    ##        +
                    ##        <input type="file" class="input-file file-image">
                    ##    </div>
                        <div class="upload-image">
                            <img src="/attachment/viewImg.html?attachmentId=$!project.idCardPhotoA" class="file-img">
                            <div class="img-mask"></div>
                        </div>
                        <a href="javascript:void(0);" class="button-link button-boss-link button-refresh button-refresh-boss">
                            重新上传
                            <input type="file" class="input-file file-image">
                        </a>
                    </div>
                    <div class="errMsg errMsg-photo-a"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">身份证照片反面</div>
                <div class="group-item">
                    <div class="upload-box file-photo-b input-null" data-imgid="$!project.idCardPhotoB">
                        <div class="upload-image">
                            <img src="/attachment/viewImg.html?attachmentId=$!project.idCardPhotoB" class="file-img">
                            <div class="img-mask"></div>
                        </div>
                        <a href="javascript:void(0);" class="button-link button-boss-link button-refresh button-refresh-boss">
                            重新上传
                            <input type="file" class="input-file file-image">
                        </a>
                    </div>
                    <div class="errMsg errMsg-photo-b"></div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="group-title">手机号</div>
                <div class="group-item">
                    <div class="input-item" style="width: 400px;">
                        <input type="text" class="input-primary input-primary-boss input-small input-null input-mobile"
                               name="mobile" placeholder="请输入身份证号码" value="$!project.mobile">
                        <i class="icon-delete"></i>
                    </div>
                    <div class="errMsg errMsg-mobile"></div>
                </div>
            </div>

            <div class="form-group clearfix" style="margin-top: 0;">
                <div class="group-title">&nbsp;</div>
                <div class="group-item">
                    <div class="errMsg errMsg-submit"></div>
                </div>
            </div>

            <div class="form-group clearfix" style="margin-top: 0;">
                <div class="group-title">&nbsp;</div>
                <div class="group-item">
                    <a href="javascript:void(0);" class="button-primary-able button-primary-boss-able btn-submit"
                       style="float: left; width: 200px; margin: 20px 0 0 0;">保存</a>
                    <a href="/boss/project.html" class="button-link button-boss-link" style="float: left; margin: 35px 0 0 60px;">取消</a>
                </div>
            </div>
        </div>
</section>

#define($script)
<script src="/assets/script/common.js"></script>
<script>
    $(function () {
        var addrJson = '';

        window.REGISTER = {
            init: function () {
                REGISTER.getAddressJsonData();
                REGISTER.imageUploadBind();
                REGISTER.fileUploadBind();
                REGISTER.btnCodeBind();
                REGISTER.btnSubmitBind();
                COMMON.selectBind($('#province'), REGISTER.getCityData);
            },
            getAddressJsonData: function () {
                $.getJSON("/assets/script/lib/regions.json", function (data) {
                    addrJson = data;
//                    REGISTER.createProvince();
                });
            },
            createProvince: function () {
                var pstr = '';

                pstr += '<div class="select-primary" id="province">';
                pstr += '<input type="hidden" name="regionsProv" class="input-hidden">';
                pstr += '<span class="select-placeholder input-null">请选择省</span>';
                pstr += '<div class="select-options light-overscroll">';
                pstr += '<ul>';
                pstr += '<li data-value="" class="selected">请选择省</li>';
                for (var i = 0; i < addrJson.length; i++) {
                    pstr += '<li data-value="' + addrJson[i].v + '">' + addrJson[i].n + '</li>';
                }
                pstr += '</ul>';
                pstr += '</div>';
                pstr += '<select class="select-select">';
                pstr += '<option value="" selected>请选择省</option>';
                for (var i = 0; i < addrJson.length; i++) {
                    pstr += '<option value="' + addrJson[i].v + '">' + addrJson[i].n + '</option>';
                }
                pstr += '</select>';
                pstr += '</div>';

                $('.select-box').html(pstr);
                COMMON.selectBind($('#province'), REGISTER.getCityData);
            },
            getCityData: function (cID) {
                if (cID == '') {
                    $('#city').remove();
                    $('#area').remove();
                }

                for (var i = 0; i < addrJson.length; i++) {
                    if (addrJson[i].v == cID) {
                        REGISTER.createCity(addrJson[i].s);
                        return false;
                    }
                }
            },
            createCity: function (cData) {
                var cstr = '';

                cstr += '<div class="select-primary" id="city">';
                cstr += '<input type="hidden" name="regionsCity" class="input-hidden">';
                cstr += '<span class="select-placeholder input-null">请选择市</span>';
                cstr += '<div class="select-options light-overscroll">';
                cstr += '<ul>';
                cstr += '<li data-value="" class="selected">请选择市</li>';
                for (var i = 0; i < cData.length; i++) {
                    cstr += '<li data-value="' + cData[i].v + '">' + cData[i].n + '</li>';
                }
                cstr += '</ul>';
                cstr += '</div>';
                cstr += '<select class="select-select">';
                cstr += '<option value="" selected>请选择市</option>';
                for (var i = 0; i < cData.length; i++) {
                    cstr += '<option value="' + cData[i].v + '">' + cData[i].n + '</option>';
                }
                cstr += '</select>';
                cstr += '</div>';

                $('#city').remove();
                $('#area').remove();
                $('.select-box').append(cstr);
                COMMON.selectBind($('#city'), REGISTER.getAreaData);
            },
            getAreaData: function (aID) {
                if (aID == '') {
                    $('#area').remove();
                }

                for (var i = 0; i < addrJson.length; i++) {
                    for (var j = 0; j < addrJson[i].s.length; j++) {
                        if (addrJson[i].s[j].v == aID) {
                            REGISTER.createArea(addrJson[i].s[j].s);
                            return false;
                        }
                    }
                }
            },
            createArea: function (aData) {
                var astr = '';

                astr += '<div class="select-primary" id="area">';
                astr += '<input type="hidden" name="regionsTown" class="input-hidden">';
                astr += '<span class="select-placeholder input-null">请选择区</span>';
                astr += '<div class="select-options light-overscroll">';
                astr += '<ul>';
                astr += '<li data-value="" class="selected">请选择区</li>';
                for (var i = 0; i < aData.length; i++) {
                    astr += '<li data-value="' + aData[i].v + '">' + aData[i].n + '</li>';
                }
                astr += '</ul>';
                astr += '</div>';
                astr += '<select class="select-select">';
                astr += '<option value="" selected>请选择区</option>';
                for (var i = 0; i < aData.length; i++) {
                    astr += '<option value="' + aData[i].v + '">' + aData[i].n + '</option>';
                }
                astr += '</select>';
                astr += '</div>';

                $('#area').remove();
                $('.select-box').append(astr);
                COMMON.selectBind($('#area'), undefined);
            },
            imageUploadBind: function () {
                var fileImage = $('.file-image');

                fileImage.unbind('change');
                fileImage.change(function () {
                    var _this = $(this),
                            btnUpload = _this.parent(),
                            uploadBox = _this.parent().parent(),
                            files = this.files[0],
                            reader = new FileReader();

                    if (!/image\/\w+/.test(files.type)) {
                        COMMON.errMsg(uploadBox.parent().find('.errMsg'), "请确保文件类型为图像类型");
                        return false;
                    }
                    uploadBox.parent().find('.errMsg').html('');

                    btnUpload.hide();

                    reader.readAsDataURL(files);

                    reader.onload = function (e) {
                        var imgBase64Data = this.result,
                                imgLen = imgBase64Data.length;
                        if (imgLen > 512000) {
                            var scale = 512000 / imgLen * 1.5,
                                    img = new Image();

                            img.src = imgBase64Data;
                            img.onload = function () {
                                var nW = img.width,
                                        nH = img.height,
                                        w = nW * scale,
                                        h = nH * scale;

                                var canvas = document.createElement('canvas'),
                                        ctx = canvas.getContext('2d');
                                canvas.width = w;
                                canvas.height = h;
                                ctx.drawImage(img, 0, 0, w, h);
                                base64 = canvas.toDataURL('image/jpeg');
                                REGISTER.submitImageData(base64, _this);
                            }
                        } else {
                            REGISTER.submitImageData(imgBase64Data, _this);
                        }
                    }
                });
            },
            submitImageData: function (imgData, obj) {
                var btnUpload = obj.parent(),
                        uploadBox = obj.parent().parent();

                uploadBox.parent().find('.errMsg').html('');
                $.ajax({
                    url: "/attachment/ajax/uploadImg.html",
                    dataType: "json",
                    type: "post",
                    data: {
                        imgData: imgData
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            obj.parent().parent().attr('data-imgid', data.attachmentId).removeClass('input-null');

                            var imgurl = "/attachment/viewImg.html?attachmentId=" + data.attachmentId;
                            uploadBox.html('<div class="upload-image"><img src="' + imgurl + '" class="file-img"><div class="img-mask"></div></div><a href="javascript:void(0);" class="button-link button-refresh">重新上传<input type="file" class="input-file file-image"  name="file"></a>');
                            REGISTER.imageUploadBind();
                            COMMON.imgMaskBind();
                        } else {
                            COMMON.errMsg(uploadBox.parent().find('.errMsg'), data.msg);
                            uploadBox.html('<div class="btn-upload">+<input type="file" class="input-file file-image"  name="file"></div>');
                        }
                    },
                    error: function () {
                        COMMON.errMsg(uploadBox.parent().find('.errMsg'), '图片加载失败，请重试');
                        uploadBox.html('<div class="btn-upload">+<input type="file" class="input-file file-image"  name="file"></div>');
                        REGISTER.imageUploadBind();
                    }
                });
            },
            fileUploadBind: function () {
                var fileWord = $('.file-word');

                fileWord.unbind('change');
                fileWord.change(function () {
                    var _this = $(this),
                            formData = new FormData($('.form-agreement')[0]),
                            errMsgBox = _this.parent().parent().parent().parent().find('.errMsg');
                    console.log($('.form-agreement').length)

                    errMsgBox.html('');
                    $.ajax({
                        url: '/attachment/ajax/uploadFile.html',
                        type: 'POST',
                        data: formData,
                        dataType: 'JSON',
                        async: true,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.code == 200) {
                                _this.parent().parent().attr('data-wordid', data.attachment.id);
                                _this.parent().parent().html('<a href="javascript:void(0);" class="button-link link-normal">' + data.attachment.name + '</a><a href="javascript:void(0);" class="button-link button-refresh">重新上传<input type="file" class="input-file file-word" name="file"></a>');
                            } else {
                                COMMON.errMsg(errMsgBox, data.msg);
                                _this.parent().parent().html('<a href="javascript:void(0);" class="button-link button-add">添加合同<input type="file" class="input-file file-word" name="file"></a>');
                            }
                        },
                        error: function () {
                            COMMON.errMsg(errMsgBox, '文件加载失败，请重试');
                            _this.parent().parent().html('<a href="javascript:void(0);" class="button-link button-add">添加合同<input type="file" class="input-file file-word" name="file"></a>');
                        }
                    });
                });
            },
            btnCodeBind: function () {
                var inputMobile = $('.input-mobile'),
                        btnCode = $('.btn-code');
                btnCode.on('click', function () {
                    var mobile = inputMobile.val();

                    if (btnCode.hasClass('button-primary-disable')) {
                        return false;
                    }
                    $('.errMsg-mobile').html('');
                    $('.errMsg-code').html('');

                    if (!COMMON.checkNull(mobile)) {
                        COMMON.errMsg($('.errMsg-mobile'), '请输入手机号码!');
                        return false;
                    }
                    if (!COMMON.checkMobile(mobile)) {
                        COMMON.errMsg($('.errMsg-mobile'), '手机号码格式不正确!');
                        return false;
                    }
                    $('.errMsg-mobile').html('');

                    btnCode.addClass('button-primary-disable');

                    $.ajax({
                        url: "",
                        dataType: "json",
                        type: "get",
                        data: {
                            mobile: mobile
                        },
                        success: function (data) {
                            if (data.code != 200) {
                                COMMON.errMsg($('.errMsg-mobile'), data.msg);
                                btnCode.removeClass('button-primary-disable').html('重发');
                            } else {
                                COMMON.errMsg($('.errMsg-mobile'), '验证码已发送，请注意查收！');

                                FORGETPWD.codeTime();
                            }
                        },
                        error: function () {
                            COMMON.errMsg($('.errMsg-mobile'), '获取验证码失败，请重试！');
                            btnCode.removeClass('button-primary-disable').html('重发');
                        }
                    });
                });
            },
            codeTime: function () {
                var t = 60,
                        btnCode = $('.btn-code');

                btnCode.html(t + 's');
                var xf = setInterval(function () {
                    if (t == 1) {
                        btnCode.removeClass('button-primary-disable').html('重发');
                        clearInterval(xf);
                    } else {
                        t--;
                        btnCode.html(t + 's');
                    }
                }, 1000);
            },
            btnSubmitBind: function () {
                var btnSubmit = $('.btn-submit');

                btnSubmit.on('click', function () {
                    var projectName = $('.input-project-name').val(),
                            regionsProv = $("#province ").find('.input-hidden').val(),
                            regionsCity = $("#city ").find('.input-hidden').val(),
                            regionsTown = $("#area ").find('.input-hidden').val(),
                            projectAddress = $('.input-project-address').val(),
                            companyName = $('.input-company').val(),
                            businessLicense = $('.file-yyzz').attr('data-imgid'),
                            entrustContract = $('.file-agreement').attr('data-wordid'),
                            mobile = $('.input-mobile').val(),
                            name = $('.input-name').val(),
                    // password1 = $('.input-pwd1').val(),
                    // password2 = $('.input-pwd2').val(),
                            idCardNo = $('.input-idCards').val(),
                            idCardPhotoA = $('.file-photo-a').attr('data-imgid'),
                            idCardPhotoB = $('.file-photo-b').attr('data-imgid');
                    // code = $('.input-code').val();

                    if (btnSubmit.hasClass('button-primary-disable')) {
                        return false;
                    }
                    $('.errMsg-project-name').html('');
                    $('.errMsg-project-address').html('');
                    $('.errMsg-company').html('');
                    $('.errMsg-yyzz').html('');
                    $('.errMsg-name').html('');
                    $('.errMsg-idCards').html('');
                    $('.errMsg-photo-a').html('');
                    $('.errMsg-photo-b').html('');
                    $('.errMsg-mobile').html('');
                    // $('.errMsg-pwd1').html('');
                    // $('.errMsg-pwd2').html('');
                    // $('.errMsg-code').html('');
                    $('.errMsg-submit').html('');

                    if (!COMMON.checkNull(projectName)) {
                        COMMON.errMsg($('.errMsg-project-name'), '请输入手机号码!');
                        return false;
                    }
                    $('.errMsg-project-name').html('');

                    if (!COMMON.checkNull(regionsProv)) {
                        COMMON.errMsg($('.errMsg-project-address'), '请选择省!');
                        return false;
                    }
                    if (!COMMON.checkNull(regionsCity)) {
                        COMMON.errMsg($('.errMsg-project-address'), '请选择市!');
                        return false;
                    }
                    if (!COMMON.checkNull(regionsTown)) {
                        COMMON.errMsg($('.errMsg-project-address'), '请选择区!');
                        return false;
                    }
                    if (!COMMON.checkNull(projectAddress)) {
                        COMMON.errMsg($('.errMsg-project-address'), '请输入项目地址!');
                        return false;
                    }
                    $('.errMsg-project-address').html('');

                    if (!COMMON.checkNull(companyName)) {
                        COMMON.errMsg($('.errMsg-company'), '请输入公司名称!');
                        return false;
                    }
                    $('.errMsg-company').html('');

                    if (!COMMON.checkNull(businessLicense)) {
                        COMMON.errMsg($('.errMsg-yyzz'), '请上传营业执照!');
                        return false;
                    }
                    $('.errMsg-yyzz').html('');

                    if (!COMMON.checkNull(name)) {
                        COMMON.errMsg($('.errMsg-name'), '请输入申请人姓名!');
                        return false;
                    }
                    $('.errMsg-name').html('');

                    if (!COMMON.checkNull(idCardNo)) {
                        COMMON.errMsg($('.errMsg-idCards'), '请输入身份证号码!');
                        return false;
                    }
                    if (!COMMON.checkIDCards(idCardNo)) {
                        COMMON.errMsg($('.errMsg-idCards'), '身份证号码格式不正确!');
                        return false;
                    }
                    $('.errMsg-idCards').html('');

                    if (!COMMON.checkNull(idCardPhotoA)) {
                        COMMON.errMsg($('.errMsg-photo-a'), '请上传身份证正面照片!');
                        return false;
                    }
                    $('.errMsg-photo-a').html('');

                    if (!COMMON.checkNull(idCardPhotoB)) {
                        COMMON.errMsg($('.errMsg-photo-b'), '请上传身份证反面照片!');
                        return false;
                    }
                    $('.errMsg-photo-b').html('');

                    if (!COMMON.checkNull(mobile)) {
                        COMMON.errMsg($('.errMsg-mobile'), '请输入手机号码!');
                        return false;
                    }
                    // if(!COMMON.checkMobile(mobile)) {
                    //     COMMON.errMsg($('.errMsg-mobile'), '手机号码格式不正确!');
                    //     return false;
                    // }
                    // $('.errMsg-mobile').html('');

                    btnSubmit.addClass('button-primary-disable').html('正在保存...');

                    $.ajax({
                        url: "/boss/saveEnterApply.html",
                        dataType: "json",
                        type: "post",
                        data: {
                            companyId:$('#companyId').val(),
                            projectName: projectName,
                            regionsProv: regionsProv,
                            regionsCity: regionsCity,
                            regionsTown: regionsTown,
                            projectAddress: projectAddress,
                            companyName: companyName,
                            businessLicense: businessLicense,
                            entrustContract: entrustContract,
                            mobile: mobile,
                            name: name,
                            idCardNo: idCardNo,
                            idCardPhotoA: idCardPhotoA,
                            idCardPhotoB: idCardPhotoB
                        },
                        success: function (data) {
                            if (!data.code == 200) {
                                COMMON.errMsg($('.errMsg-submit'), data.msg);
                                btnSubmit.removeClass('button-primary-disable').html('保存');
                            } else {
                                location.href = location.href;
                            }
                        },
                        error: function () {
                            COMMON.errMsg($('.errMsg-submit'), '保存失败，请重试！');
                            btnSubmit.removeClass('button-primary-disable').html('保存');
                        }
                    });
                });
            }
        };

        REGISTER.init();
    });

    //下载合同
    function downloadContract(id) {
        if (id == null || id == '' || id == undefined) {
            return;
        }
        window.open("/boss/download/contract.html?attachmentId=" + id);
    }
</script>
#end