#set($layout = '/layout/common.vm')

#define($title)
<title>查看员工--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/staff.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="/admin/staff.html" class="button-link">员工</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">查看员工</a>
    </article>

    <div class="tabnav tabnav-staff clearfix">
        <a href="/admin/staff/detail/baseinfo.html?employeeId=$!employeeId" class="tabnav-item">基本信息</a>
        <a href="javascript:void(0);" class="tabnav-item link-disable current">任务记录</a>
        <a href="/admin/staff/detail/warning.html?employeeId=$!employeeId" class="tabnav-item">告警记录</a>
        <a href="/admin/staff/detail/attendance.html?employeeId=$!employeeId" class="tabnav-item">考勤记录</a>
        <a href="/admin/staff/detail/grabform.html?employeeId=$!employeeId" class="tabnav-item">抢单记录</a>
        <a href="/admin/staff/detail/internalreport.html?employeeId=$!employeeId" class="tabnav-item">内部报事</a>
    </div>

    <div style="padding: 0 50px;">
        <form action="/admin/staff/detail/assignment.html?employeeId=$!employeeId" method="post">
            <article class="form-condition">
                <div class="condition-group clearfix">
                    <div class="title">名称</div>
                    <div class="search-box clearfix">
                        <div class="input-item" style="width: 200px;">
                            <input type="search" placeholder="请输入名称" name="name" class="input-primary input-x-small input-search"
                                   value="$!paramName">
                            <i class="icon-delete"></i>
                        </div>
                    </div>
                </div>
                <div class="condition-group clearfix">
                    <div class="title">种类</div>
                    <div class="select-box clearfix">
                        <div class="select-primary select-small" id="">
                            <input type="hidden" name="kind" class="input-hidden" value="$!kind">
                            <span class="select-placeholder">#if($!kindFormat)$!kindFormat #else 全部 #end</span>
                            <div class="select-options light-overscroll">
                                <ul>
                                    <li data-value="" #if(!$kind) class="selected" #end>全部</li>
                                    <li data-value="1" #if($!kind eq 1) class="selected" #end>综合管理服务</li>
                                    <li data-value="2" #if($!kind eq 2) class="selected" #end>工程维修服务</li>
                                    <li data-value="3" #if($!kind eq 3) class="selected" #end>保洁服务</li>
                                    <li data-value="4" #if($!kind eq 4) class="selected" #end>绿化服务</li>
                                    <li data-value="5" #if($!kind eq 5) class="selected" #end>数据录入</li>
                                    <li data-value="6" #if($!kind eq 6) class="selected" #end>其他服务</li>
                                </ul>
                            </div>
                            <select class="select-select">
                                <option value="" #if(!$!kind) selected #end>全部</option>
                                <option value="1" #if($!kind eq 1) selected #end>综合管理服务</option>
                                <option value="2" #if($!kind eq 2) selected #end>工程维修服务</option>
                                <option value="3" #if($!kind eq 3) selected #end>保洁服务</option>
                                <option value="4" #if($!kind eq 4) selected #end>绿化服务</option>
                                <option value="5" #if($!kind eq 5) selected #end>数据录入</option>
                                <option value="6" #if($!kind eq 6) selected #end>其他服务</option>
                            </select>
                        </div>
                    </div>
                </div>
##                <div class="condition-group clearfix">
##                    <div class="title">完成日期&nbsp;&nbsp;</div>
##                    <div class="input-item">
##                        <input type="text" class="input-primary input-x-small input-datepicker"
##                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="startDate" placeholder="xxxx年xx月xx日"
##                               value="$!startDate">
##                    </div>
##                    <span class="text"> - </span>
##                    <div class="input-item">
##                        <input type="text" class="input-primary input-x-small input-datepicker"
##                               onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="endDate" placeholder="xxxx年xx月xx日"
##                               value="$!endDate">
##                    </div>
##                </div>
                <div class="condition-group clearfix">
                    <div class="search-box clearfix">
                        <input type="submit" value="搜索" class="button-search btn-search"/>
                    </div>
                </div>
            </article>
        </form>

        <article class="" style="margin-top: 20px;">
            <div class="table-wrapper">
                #if($list && $list.size()>0)
                    <table cellpadding="0" cellspacing="0" width="100%" class="table-primary">
                        <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>种类</th>
                            <th>执行日期</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($task in $list)
                            <tr>
                                <td>$!task.taskName</td>
                                <td>$!task.kindFormat</td>
                                <td>#if($task.executeTime) $!DateUtils.formatTimeYMDHM($!task.executeTime) #end</td>
                                #if($!task.status eq 0)
                                    <td>未开始</td>
                                #elseif($!task.status eq 2)
                                    <td class="state state-already">已结束</td>
                                #else
                                    <td class="state state-ING">进行中</td>
                                #end
                                <td>#if($!task.type eq 1)
                                    <a href="/admin/assignment/generally/detail.html?id=$!task.taskId"
                                       class="button-link button-link-small">查看</a>
                                #else
                                    <a href="/admin/assignment/temporary/detail.html?id=$!task.taskId"
                                       class="button-link button-link-small">查看</a>
                                #end
                                </td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                #else
                    <div class="table-wrapper" style="float: left;  width: 100%; min-height: 400px;">
                        <div class="table-nodata"><p>暂无任务记录</p></div>
                    </div>
                #end
            </div>
            #parse("/layout/pagination.vm")
        </article>
    </div>
</section>


#define($script)
<script src="/assets/script/common.js"></script>
<script src="/assets/script/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        var STAFF = {
            init: function () {
                COMMON.selectBind($('.select-primary'), undefined);
            }
        };

        STAFF.init();
    });

    //跳转
    function goPage(pageNo) {
        COMMON.post('/admin/staff/detail/assignment.html',
                {
                    employeeId: '$!employeeId',
                    name: '$!paramName',
                    kind: '$!kind',
                    pageNo: pageNo
                });
    }
</script>
#end