#set($layout = '/boss/layout/common.vm')

#define($title)
<title>修改密码--i家帮系统后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/login.css" />
#end

<div class="wrapper">
	<section class="modules-center">
		<a href="/boss/signup.html" class="button-link button-boss-link link-admin">返回系统后台</a>

		<h1>修改密码</h1>

		<div class="form-part">
			<div class="input-item">
				<input type="password" class="input-primary input-primary-boss input-null input-pwd0" placeholder="请输入原密码">
				<i class="icon-delete"></i>
			</div>
			<div class="errMsg errMsg-pwd0"></div>
			<div class="input-item">
				<input type="password" class="input-primary input-primary-boss input-null input-pwd1" placeholder="请输入新密码">
				<i class="icon-delete"></i>
			</div>
			<div class="errMsg errMsg-pwd1"></div>
			<div class="input-item" style="margin-top: 16px;">
				<input type="password" class="input-primary input-primary-boss input-null input-pwd2" placeholder="请确认新密码">
				<i class="icon-delete"></i>
			</div>
			<div class="errMsg errMsg-pwd2"></div>

	    	<a href="javascript:void(0);" class="button-primary-able button-primary-boss-able btn-submit">确定</a>
		</div>
	</section>
</div>

#define($script)
<script src="/assets/script/common.js"></script>
<script>
	$(function() {
		var inputPwd0 = $('.input-pwd0'),
			inputPwd1 = $('.input-pwd1'),
			inputPwd2 = $('.input-pwd2'),
			btnSubmit = $('.btn-submit');

		var EDITPWD = {
			init: function() {
				EDITPWD.btnSubmitBind();
			},
			btnSubmitBind: function() {
				btnSubmit.on('click', function() {
					var pwd0 = inputPwd0.val(),
						pwd1 = inputPwd1.val(),
						pwd2 = inputPwd2.val();

					if(btnSubmit.hasClass('button-primary-disable')) {
						return false;
					}
					$('.errMsg-pwd0').html('');
					$('.errMsg-pwd1').html('');
					$('.errMsg-pwd2').html('');

					if(!COMMON.checkNull(pwd0)) {
						COMMON.errMsg($('.errMsg-pwd0'), '请输入原密码!');
					}
					$('.errMsg-pwd0').html('');

					if(!COMMON.checkNull(pwd1)) {
						COMMON.errMsg($('.errMsg-pwd1'), '请输入新密码!');
					}
					$('.errMsg-pwd1').html('');

					if(pwd1 != pwd2) {
						COMMON.errMsg($('.errMsg-pwd2'), '两次输入的新密码不一致!');
						return false;
					}
					$('.errMsg-pwd2').html('');

					btnSubmit.addClass('button-primary-disable button-primary-boss-disable').html('正在修改...');

					$.ajax({
			            url: "/boss/reset/password.html",
			            dataType:"json",
			            type:"post",
			            data: {
                            oldPassword: pwd0,
			                //pwd1: pwd1,
                            newPassword: pwd2
			            },
			            success:function(data) {
			            	if(data.code != 200) {
			            		COMMON.errMsg($('.errMsg-pwd2'), data.msg);
			            		btnSubmit.removeClass('button-primary-disable button-primary-boss-disable').html('确定');
			            	} else {
			            		location.href = '/boss/signup.html';
			            	}
			            },
			            error: function() {
			                COMMON.errMsg($('.errMsg-pwd2'), '密码修改失败，请重试！');
							btnSubmit.removeClass('button-primary-disable button-primary-boss-disable').html('确定');
			            }
			        });
				});
			}
		};

		EDITPWD.init();
	});
</script>
#end