#set($layout = '/layout/common.vm')

#define($title)
<title>出入库记录--i家帮管理后台</title>
#end

#define($style)
<link rel="stylesheet" href="/assets/style/material.css"/>
#end

#parse("/layout/header.vm")
#parse("/layout/leftnav.vm")
<section class="main light-overscroll">
    <article class="breadcrumb">
        <a href="/admin/material.html" class="button-link">材料管理</a>
        <span class="separate">|</span>
        <a href="javascript:void(0);" class="button-link button-link-disable">出入库记录 -- $!materialInfo</a>
    </article>

    <article class="" style="margin-top: 20px;">
        <div class="table-wrapper">
            #if($list && $list.size()>0)
                <table cellpadding="0" cellspacing="0" width="100%" class="table-primary" id="table-type">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>数量</th>
                        <th>名称</th>
                        <th>表单/报修单ID</th>
                        <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($record in $!list)
                        <tr>
                            <td>$!DateUtils.formatTimeYMDHM($!record.createdDate)</td>
                            <td>$!record.amount</td>
                            <td>#if($!record.type eq 0) 入库 #else 出库 #end</td>
                            <td>#if($!{record.formId} eq 0) 无 #else $!{record.formId} #end</td>
                            <td>$!record.explains</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            #else
                <div class="table-wrapper" style="float: left;  width: 100%; min-height: 400px;">
                    <div class="table-nodata"><p>暂无出入库记录</p></div>
                </div>
            #end
        </div>
        #parse("/layout/pagination.vm")
    </article>
</section>


#define($script)
<script src="/assets/script/common.js"></script>
<script>
    $(function () {
        var MATERIAL = {
            init: function () {

            }
        };

        MATERIAL.init();
    });
    //跳转
    function goPage(pageNo) {
        COMMON.post('/admin/material/history.html',
                {
                    id: '$!paramMaterialId',
                    pageNo: pageNo
                });
    }
</script>
#end